<h1>Rental Date For: <%= @rental_request.cat.name %> </h1>

<h3>Start Date: <%= @rental_request.start_date %> </h3>
<h3>End Date: <%= @rental_request.end_date %> </h3>
<h3>Status:  <%= @rental_request.status %> </h3>
